Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/test_cuckoo
src/test_cuckoo_mt
stamp-h1
config.guess
config.h.in~
config.sub
lib/.deps/
lib/.libs/
lib/*.lo
lib/*.la
libtool
ltmain.sh
m4/*
